--
-- PostgreSQL database dump
--

\restrict Co6DRqSqzbsroxjxPksRx3skZzOsHp6ci7pVdrWdokztzhYDXapOLA7Vev4Gpqx

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_date(); Type: FUNCTION; Schema: public; Owner: cricket_admin
--

CREATE FUNCTION public.update_updated_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_date = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_date() OWNER TO cricket_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_audit_log; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.auth_audit_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    email character varying(255),
    action character varying(100) NOT NULL,
    ip_address character varying(45),
    user_agent text,
    success boolean DEFAULT true,
    error_message text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.auth_audit_log OWNER TO cricket_admin;

--
-- Name: ball_by_ball; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.ball_by_ball (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    innings integer NOT NULL,
    over_number integer NOT NULL,
    ball_number integer NOT NULL,
    batsman_id uuid,
    batsman_name character varying(255) NOT NULL,
    non_striker_id uuid,
    non_striker_name character varying(255),
    bowler_id uuid,
    bowler_name character varying(255) NOT NULL,
    runs integer DEFAULT 0,
    extras integer DEFAULT 0,
    extra_type character varying(20),
    is_wicket boolean DEFAULT false,
    wicket_type character varying(50),
    dismissed_batsman_id uuid,
    dismissed_batsman_name character varying(255),
    fielder_id uuid,
    fielder_name character varying(255),
    is_four boolean DEFAULT false,
    is_six boolean DEFAULT false,
    is_dot boolean DEFAULT false,
    is_free_hit boolean DEFAULT false,
    is_powerplay boolean DEFAULT false,
    wagon_wheel_zone integer,
    shot_type character varying(50),
    commentary text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.ball_by_ball OWNER TO cricket_admin;

--
-- Name: club_stats; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.club_stats (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    stat_key character varying(100) NOT NULL,
    stat_value character varying(255),
    stat_label character varying(255),
    display_order integer DEFAULT 0,
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.club_stats OWNER TO cricket_admin;

--
-- Name: competitions; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.competitions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(100),
    parent_id uuid,
    parent_name character varying(255),
    description text,
    format character varying(50) DEFAULT 'T20'::character varying,
    status character varying(50) DEFAULT 'Active'::character varying,
    logo_url text,
    website_url text,
    organizer character varying(255),
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.competitions OWNER TO cricket_admin;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.contact_messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    subject character varying(500),
    message text NOT NULL,
    status character varying(50) DEFAULT 'New'::character varying,
    responded_at timestamp without time zone,
    responded_by character varying(255),
    notes text,
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contact_messages OWNER TO cricket_admin;

--
-- Name: custom_stream_overlays; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.custom_stream_overlays (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    layout_type character varying(50) DEFAULT 'full'::character varying,
    theme character varying(100) DEFAULT 'default'::character varying,
    sponsor_url text,
    is_default boolean DEFAULT false,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.custom_stream_overlays OWNER TO cricket_admin;

--
-- Name: event_rsvp; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.event_rsvp (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    event_id uuid NOT NULL,
    player_id uuid,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    status character varying(50) DEFAULT 'Going'::character varying,
    guests integer DEFAULT 0,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.event_rsvp OWNER TO cricket_admin;

--
-- Name: events; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    event_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone,
    location character varying(500),
    image_url text,
    category character varying(100),
    max_attendees integer,
    registration_required boolean DEFAULT false,
    registration_deadline date,
    status character varying(50) DEFAULT 'Upcoming'::character varying,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.events OWNER TO cricket_admin;

--
-- Name: finance_categories; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.finance_categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    display_order integer DEFAULT 0,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.finance_categories OWNER TO cricket_admin;

--
-- Name: gallery_images; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.gallery_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500),
    description text,
    image_url text NOT NULL,
    category character varying(100),
    tags text,
    is_featured boolean DEFAULT false,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.gallery_images OWNER TO cricket_admin;

--
-- Name: innings_score; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.innings_score (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    innings integer NOT NULL,
    batting_team_id uuid,
    batting_team_name character varying(255),
    bowling_team_id uuid,
    bowling_team_name character varying(255),
    total_runs integer DEFAULT 0,
    total_wickets integer DEFAULT 0,
    total_overs character varying(10),
    extras_wide integer DEFAULT 0,
    extras_no_ball integer DEFAULT 0,
    extras_bye integer DEFAULT 0,
    extras_leg_bye integer DEFAULT 0,
    extras_penalty integer DEFAULT 0,
    run_rate numeric(10,2),
    required_run_rate numeric(10,2),
    target integer,
    powerplay_runs integer DEFAULT 0,
    powerplay_wickets integer DEFAULT 0,
    is_completed boolean DEFAULT false,
    fall_of_wickets text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.innings_score OWNER TO cricket_admin;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.invoices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_number character varying(50),
    recipient_name character varying(255) NOT NULL,
    recipient_email character varying(255),
    amount numeric(10,2) NOT NULL,
    issue_date date NOT NULL,
    due_date date,
    status character varying(50) DEFAULT 'Pending'::character varying,
    description text,
    payment_method character varying(50),
    paid_date date,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.invoices OWNER TO cricket_admin;

--
-- Name: match_availability; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.match_availability (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    match_info character varying(500),
    player_id uuid NOT NULL,
    player_email character varying(255),
    player_name character varying(255),
    status character varying(50) DEFAULT 'Available'::character varying,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.match_availability OWNER TO cricket_admin;

--
-- Name: match_profiles; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.match_profiles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    overs_per_innings integer DEFAULT 20,
    balls_per_over integer DEFAULT 6,
    powerplay_overs integer,
    max_overs_per_bowler integer,
    wide_runs integer DEFAULT 1,
    no_ball_runs integer DEFAULT 1,
    free_hit_on_no_ball boolean DEFAULT true,
    super_over_enabled boolean DEFAULT false,
    dls_enabled boolean DEFAULT false,
    points_win integer DEFAULT 2,
    points_loss integer DEFAULT 0,
    points_tie integer DEFAULT 1,
    points_no_result integer DEFAULT 1,
    is_default boolean DEFAULT false,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.match_profiles OWNER TO cricket_admin;

--
-- Name: match_state; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.match_state (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    innings integer DEFAULT 1,
    striker character varying(255),
    non_striker character varying(255),
    bowler character varying(255),
    toss_winner character varying(10),
    toss_decision character varying(10),
    batting_first character varying(10),
    is_free_hit boolean DEFAULT false,
    match_settings text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.match_state OWNER TO cricket_admin;

--
-- Name: memberships; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    member_name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(50),
    membership_type character varying(50) DEFAULT 'Adult'::character varying,
    status character varying(50) DEFAULT 'Pending'::character varying,
    season character varying(50),
    start_date date,
    expiry_date date,
    fee_amount numeric(10,2),
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.memberships OWNER TO cricket_admin;

--
-- Name: news; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.news (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    excerpt text,
    image_url text,
    category character varying(100),
    is_featured boolean DEFAULT false,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.news OWNER TO cricket_admin;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    message text NOT NULL,
    type character varying(50) DEFAULT 'info'::character varying,
    link character varying(500),
    send_to_all boolean DEFAULT false,
    target_role character varying(50),
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO cricket_admin;

--
-- Name: payment_allocations; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.payment_allocations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    payment_id uuid NOT NULL,
    charge_id uuid NOT NULL,
    amount numeric(10,2) NOT NULL,
    allocation_date date,
    allocated_by character varying(255),
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payment_allocations OWNER TO cricket_admin;

--
-- Name: payment_audit_logs; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.payment_audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    payment_id uuid,
    charge_id uuid,
    action character varying(100) NOT NULL,
    old_value text,
    new_value text,
    changed_by character varying(255),
    ip_address character varying(45),
    created_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payment_audit_logs OWNER TO cricket_admin;

--
-- Name: payment_settings; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.payment_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    setting_key character varying(100) NOT NULL,
    setting_value text,
    description text,
    updated_by character varying(255),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payment_settings OWNER TO cricket_admin;

--
-- Name: player_charges; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.player_charges (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    charge_type character varying(50) NOT NULL,
    amount numeric(10,2) NOT NULL,
    description character varying(500),
    charge_date date NOT NULL,
    due_date date,
    reference_type character varying(50),
    reference_id uuid,
    notes text,
    voided boolean DEFAULT false,
    voided_reason text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.player_charges OWNER TO cricket_admin;

--
-- Name: player_payments; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.player_payments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date NOT NULL,
    payment_method character varying(50),
    reference character varying(255),
    recorded_by character varying(255),
    verified boolean DEFAULT false,
    verified_by character varying(255),
    verified_date date,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.player_payments OWNER TO cricket_admin;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    token character varying(500) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    revoked boolean DEFAULT false
);


ALTER TABLE public.refresh_tokens OWNER TO cricket_admin;

--
-- Name: seasons; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.seasons (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    start_date date,
    end_date date,
    status character varying(50) DEFAULT 'Upcoming'::character varying,
    is_current boolean DEFAULT false,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.seasons OWNER TO cricket_admin;

--
-- Name: sponsor_payments; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.sponsor_payments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sponsor_id uuid NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date NOT NULL,
    season character varying(50),
    description text,
    payment_method character varying(50),
    reference character varying(255),
    status character varying(50) DEFAULT 'Received'::character varying,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sponsor_payments OWNER TO cricket_admin;

--
-- Name: sponsors; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.sponsors (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    contact_name character varying(255),
    email character varying(255),
    phone character varying(50),
    logo_url text,
    website character varying(255),
    sponsor_type character varying(50),
    status character varying(50) DEFAULT 'Active'::character varying,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sponsors OWNER TO cricket_admin;

--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.system_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    level character varying(20) NOT NULL,
    category character varying(100),
    message text NOT NULL,
    details text,
    stack_trace text,
    user_id uuid,
    ip_address character varying(45),
    user_agent text,
    created_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.system_logs OWNER TO cricket_admin;

--
-- Name: team_players; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.team_players (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    team_id uuid,
    team_name character varying(255),
    player_name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(50),
    photo_url text,
    date_of_birth date,
    date_joined date,
    status character varying(50) DEFAULT 'Active'::character varying,
    jersey_number integer,
    is_captain boolean DEFAULT false,
    is_vice_captain boolean DEFAULT false,
    is_wicket_keeper boolean DEFAULT false,
    role character varying(50) DEFAULT 'Batsman'::character varying,
    batting_style character varying(50),
    bowling_style character varying(255),
    bio text,
    emergency_contact_name character varying(255),
    emergency_contact_phone character varying(50),
    medical_notes text,
    matches_played integer DEFAULT 0,
    runs_scored integer DEFAULT 0,
    balls_faced integer DEFAULT 0,
    highest_score integer DEFAULT 0,
    not_outs integer DEFAULT 0,
    fours integer DEFAULT 0,
    sixes integer DEFAULT 0,
    fifties integer DEFAULT 0,
    hundreds integer DEFAULT 0,
    ducks integer DEFAULT 0,
    wickets_taken integer DEFAULT 0,
    overs_bowled numeric(10,1) DEFAULT 0,
    runs_conceded integer DEFAULT 0,
    maidens integer DEFAULT 0,
    best_bowling character varying(20),
    dot_balls integer DEFAULT 0,
    four_wickets integer DEFAULT 0,
    five_wickets integer DEFAULT 0,
    catches integer DEFAULT 0,
    stumpings integer DEFAULT 0,
    run_outs integer DEFAULT 0,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.team_players OWNER TO cricket_admin;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(50),
    is_home_team boolean DEFAULT false,
    logo_url text,
    home_ground character varying(255),
    captain_id uuid,
    captain_name character varying(255),
    primary_color character varying(7) DEFAULT '#6366f1'::character varying,
    secondary_color character varying(7) DEFAULT '#ffffff'::character varying,
    contact_email character varying(255),
    contact_phone character varying(50),
    notes text,
    status character varying(50) DEFAULT 'Active'::character varying,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.teams OWNER TO cricket_admin;

--
-- Name: tournament_matches; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.tournament_matches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tournament_id uuid NOT NULL,
    match_id uuid,
    match_number integer,
    stage character varying(50) DEFAULT 'group'::character varying,
    "group" character varying(10),
    round integer DEFAULT 1,
    team1_id uuid,
    team1_name character varying(255),
    team2_id uuid,
    team2_name character varying(255),
    match_date timestamp without time zone,
    venue character varying(255),
    status character varying(50) DEFAULT 'scheduled'::character varying,
    toss_winner character varying(255),
    toss_decision character varying(10),
    team1_score character varying(50),
    team1_overs character varying(10),
    team2_score character varying(50),
    team2_overs character varying(10),
    winner_id uuid,
    winner_name character varying(255),
    result_summary text,
    man_of_match character varying(255),
    mom_performance character varying(255),
    is_super_over boolean DEFAULT false,
    bracket_position integer,
    next_match_id uuid,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tournament_matches OWNER TO cricket_admin;

--
-- Name: tournament_players; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.tournament_players (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tournament_id uuid NOT NULL,
    tournament_team_id uuid,
    player_id uuid,
    player_name character varying(255) NOT NULL,
    team_name character varying(255),
    matches_played integer DEFAULT 0,
    runs_scored integer DEFAULT 0,
    balls_faced integer DEFAULT 0,
    highest_score integer DEFAULT 0,
    fifties integer DEFAULT 0,
    hundreds integer DEFAULT 0,
    fours integer DEFAULT 0,
    sixes integer DEFAULT 0,
    not_outs integer DEFAULT 0,
    batting_avg numeric(10,2) DEFAULT 0,
    strike_rate numeric(10,2) DEFAULT 0,
    wickets_taken integer DEFAULT 0,
    overs_bowled numeric(10,1) DEFAULT 0,
    runs_conceded integer DEFAULT 0,
    best_bowling character varying(20),
    economy numeric(10,2) DEFAULT 0,
    bowling_avg numeric(10,2) DEFAULT 0,
    catches integer DEFAULT 0,
    stumpings integer DEFAULT 0,
    run_outs integer DEFAULT 0,
    mom_awards integer DEFAULT 0,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tournament_players OWNER TO cricket_admin;

--
-- Name: tournament_teams; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.tournament_teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tournament_id uuid NOT NULL,
    team_id uuid,
    team_name character varying(255) NOT NULL,
    short_name character varying(100),
    "group" character varying(10),
    seed integer,
    registration_status character varying(50) DEFAULT 'pending'::character varying,
    matches_played integer DEFAULT 0,
    matches_won integer DEFAULT 0,
    matches_lost integer DEFAULT 0,
    matches_tied integer DEFAULT 0,
    matches_nr integer DEFAULT 0,
    points integer DEFAULT 0,
    runs_scored integer DEFAULT 0,
    runs_conceded integer DEFAULT 0,
    overs_faced numeric(10,1) DEFAULT 0,
    overs_bowled numeric(10,1) DEFAULT 0,
    nrr numeric(10,3) DEFAULT 0,
    is_eliminated boolean DEFAULT false,
    final_position integer,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tournament_teams OWNER TO cricket_admin;

--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.tournaments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(100),
    season_id uuid,
    season_name character varying(255),
    competition_id uuid,
    competition_name character varying(255),
    sub_competition_id uuid,
    sub_competition_name character varying(255),
    format character varying(50) DEFAULT 'league'::character varying,
    status character varying(50) DEFAULT 'draft'::character varying,
    start_date date,
    end_date date,
    overs_per_match integer DEFAULT 20,
    balls_per_over integer DEFAULT 6,
    max_teams integer DEFAULT 8,
    num_groups integer DEFAULT 2,
    teams_qualify_per_group integer DEFAULT 2,
    banner_url text,
    logo_url text,
    description text,
    rules text,
    prize_money character varying(255),
    entry_fee numeric(10,2) DEFAULT 0,
    organizer_name character varying(255),
    organizer_contact character varying(255),
    match_profile_id uuid,
    match_profile_name character varying(255),
    current_stage character varying(50) DEFAULT 'group'::character varying,
    is_public boolean DEFAULT true,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tournaments OWNER TO cricket_admin;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category_id uuid,
    category_name character varying(255),
    type character varying(20) NOT NULL,
    amount numeric(10,2) NOT NULL,
    description text,
    date date NOT NULL,
    reference character varying(255),
    paid_to character varying(255),
    received_from character varying(255),
    payment_method character varying(50),
    status character varying(50) DEFAULT 'Completed'::character varying,
    receipt_url text,
    notes text,
    created_by character varying(255),
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO cricket_admin;

--
-- Name: user_activity_logs; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.user_activity_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id uuid,
    details text,
    ip_address character varying(45),
    user_agent text,
    created_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_activity_logs OWNER TO cricket_admin;

--
-- Name: user_notifications; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.user_notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    notification_id uuid NOT NULL,
    user_id uuid NOT NULL,
    is_read boolean DEFAULT false,
    read_at timestamp without time zone,
    created_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_notifications OWNER TO cricket_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: cricket_admin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    full_name character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying,
    club_role character varying(50),
    phone character varying(50),
    photo_url text,
    date_of_birth date,
    emergency_contact_name character varying(255),
    emergency_contact_phone character varying(50),
    status character varying(50) DEFAULT 'active'::character varying,
    last_login timestamp without time zone,
    email_verified boolean DEFAULT false,
    verification_token character varying(255),
    reset_token character varying(255),
    reset_token_expiry timestamp without time zone,
    created_date timestamp without time zone DEFAULT now(),
    updated_date timestamp without time zone DEFAULT now(),
    password text NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['super_admin'::character varying, 'admin'::character varying, 'user'::character varying, 'captain'::character varying, 'treasurer'::character varying, 'social_media'::character varying, 'player'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'suspended'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO cricket_admin;

--
-- Name: auth_audit_log auth_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.auth_audit_log
    ADD CONSTRAINT auth_audit_log_pkey PRIMARY KEY (id);


--
-- Name: ball_by_ball ball_by_ball_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_pkey PRIMARY KEY (id);


--
-- Name: club_stats club_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.club_stats
    ADD CONSTRAINT club_stats_pkey PRIMARY KEY (id);


--
-- Name: club_stats club_stats_stat_key_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.club_stats
    ADD CONSTRAINT club_stats_stat_key_key UNIQUE (stat_key);


--
-- Name: competitions competitions_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_pkey PRIMARY KEY (id);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: custom_stream_overlays custom_stream_overlays_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.custom_stream_overlays
    ADD CONSTRAINT custom_stream_overlays_pkey PRIMARY KEY (id);


--
-- Name: event_rsvp event_rsvp_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.event_rsvp
    ADD CONSTRAINT event_rsvp_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: finance_categories finance_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.finance_categories
    ADD CONSTRAINT finance_categories_pkey PRIMARY KEY (id);


--
-- Name: gallery_images gallery_images_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.gallery_images
    ADD CONSTRAINT gallery_images_pkey PRIMARY KEY (id);


--
-- Name: innings_score innings_score_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.innings_score
    ADD CONSTRAINT innings_score_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: match_availability match_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.match_availability
    ADD CONSTRAINT match_availability_pkey PRIMARY KEY (id);


--
-- Name: match_profiles match_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.match_profiles
    ADD CONSTRAINT match_profiles_pkey PRIMARY KEY (id);


--
-- Name: match_state match_state_match_id_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.match_state
    ADD CONSTRAINT match_state_match_id_key UNIQUE (match_id);


--
-- Name: match_state match_state_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.match_state
    ADD CONSTRAINT match_state_pkey PRIMARY KEY (id);


--
-- Name: memberships memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payment_allocations payment_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_pkey PRIMARY KEY (id);


--
-- Name: payment_audit_logs payment_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_audit_logs
    ADD CONSTRAINT payment_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: payment_settings payment_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_settings
    ADD CONSTRAINT payment_settings_pkey PRIMARY KEY (id);


--
-- Name: payment_settings payment_settings_setting_key_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_settings
    ADD CONSTRAINT payment_settings_setting_key_key UNIQUE (setting_key);


--
-- Name: player_charges player_charges_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.player_charges
    ADD CONSTRAINT player_charges_pkey PRIMARY KEY (id);


--
-- Name: player_payments player_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.player_payments
    ADD CONSTRAINT player_payments_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: sponsor_payments sponsor_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.sponsor_payments
    ADD CONSTRAINT sponsor_payments_pkey PRIMARY KEY (id);


--
-- Name: sponsors sponsors_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.sponsors
    ADD CONSTRAINT sponsors_pkey PRIMARY KEY (id);


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY (id);


--
-- Name: team_players team_players_email_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.team_players
    ADD CONSTRAINT team_players_email_key UNIQUE (email);


--
-- Name: team_players team_players_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.team_players
    ADD CONSTRAINT team_players_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: tournament_matches tournament_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_pkey PRIMARY KEY (id);


--
-- Name: tournament_players tournament_players_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_players
    ADD CONSTRAINT tournament_players_pkey PRIMARY KEY (id);


--
-- Name: tournament_teams tournament_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_pkey PRIMARY KEY (id);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_activity_logs user_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: user_notifications user_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_activity_action; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_activity_action ON public.user_activity_logs USING btree (action);


--
-- Name: idx_activity_created; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_activity_created ON public.user_activity_logs USING btree (created_date);


--
-- Name: idx_activity_user; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_activity_user ON public.user_activity_logs USING btree (user_id);


--
-- Name: idx_auth_audit_action; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_auth_audit_action ON public.auth_audit_log USING btree (action);


--
-- Name: idx_auth_audit_created; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_auth_audit_created ON public.auth_audit_log USING btree (created_at);


--
-- Name: idx_auth_audit_user; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_auth_audit_user ON public.auth_audit_log USING btree (user_id);


--
-- Name: idx_ball_innings; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_ball_innings ON public.ball_by_ball USING btree (match_id, innings);


--
-- Name: idx_ball_match; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_ball_match ON public.ball_by_ball USING btree (match_id);


--
-- Name: idx_payment_audit_created; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_payment_audit_created ON public.payment_audit_logs USING btree (created_date);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_refresh_tokens_user ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_system_logs_category; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_system_logs_category ON public.system_logs USING btree (category);


--
-- Name: idx_system_logs_created; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_system_logs_created ON public.system_logs USING btree (created_date);


--
-- Name: idx_system_logs_level; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_system_logs_level ON public.system_logs USING btree (level);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: cricket_admin
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: ball_by_ball ball_by_ball_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER ball_by_ball_updated_date BEFORE UPDATE ON public.ball_by_ball FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: competitions competitions_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER competitions_updated_date BEFORE UPDATE ON public.competitions FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: contact_messages contact_messages_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER contact_messages_updated_date BEFORE UPDATE ON public.contact_messages FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: custom_stream_overlays custom_stream_overlays_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER custom_stream_overlays_updated_date BEFORE UPDATE ON public.custom_stream_overlays FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: event_rsvp event_rsvp_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER event_rsvp_updated_date BEFORE UPDATE ON public.event_rsvp FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: events events_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER events_updated_date BEFORE UPDATE ON public.events FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: finance_categories finance_categories_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER finance_categories_updated_date BEFORE UPDATE ON public.finance_categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: gallery_images gallery_images_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER gallery_images_updated_date BEFORE UPDATE ON public.gallery_images FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: innings_score innings_score_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER innings_score_updated_date BEFORE UPDATE ON public.innings_score FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: invoices invoices_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER invoices_updated_date BEFORE UPDATE ON public.invoices FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: match_availability match_availability_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER match_availability_updated_date BEFORE UPDATE ON public.match_availability FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: match_profiles match_profiles_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER match_profiles_updated_date BEFORE UPDATE ON public.match_profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: match_state match_state_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER match_state_updated_date BEFORE UPDATE ON public.match_state FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: memberships memberships_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER memberships_updated_date BEFORE UPDATE ON public.memberships FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: news news_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER news_updated_date BEFORE UPDATE ON public.news FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: payment_allocations payment_allocations_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER payment_allocations_updated_date BEFORE UPDATE ON public.payment_allocations FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: player_charges player_charges_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER player_charges_updated_date BEFORE UPDATE ON public.player_charges FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: player_payments player_payments_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER player_payments_updated_date BEFORE UPDATE ON public.player_payments FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: seasons seasons_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER seasons_updated_date BEFORE UPDATE ON public.seasons FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: sponsor_payments sponsor_payments_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER sponsor_payments_updated_date BEFORE UPDATE ON public.sponsor_payments FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: sponsors sponsors_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER sponsors_updated_date BEFORE UPDATE ON public.sponsors FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: team_players team_players_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER team_players_updated_date BEFORE UPDATE ON public.team_players FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: teams teams_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER teams_updated_date BEFORE UPDATE ON public.teams FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: tournament_matches tournament_matches_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER tournament_matches_updated_date BEFORE UPDATE ON public.tournament_matches FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: tournament_players tournament_players_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER tournament_players_updated_date BEFORE UPDATE ON public.tournament_players FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: tournament_teams tournament_teams_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER tournament_teams_updated_date BEFORE UPDATE ON public.tournament_teams FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: tournaments tournaments_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER tournaments_updated_date BEFORE UPDATE ON public.tournaments FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: transactions transactions_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER transactions_updated_date BEFORE UPDATE ON public.transactions FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: users users_updated_date; Type: TRIGGER; Schema: public; Owner: cricket_admin
--

CREATE TRIGGER users_updated_date BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_date();


--
-- Name: auth_audit_log auth_audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.auth_audit_log
    ADD CONSTRAINT auth_audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ball_by_ball ball_by_ball_batsman_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_batsman_id_fkey FOREIGN KEY (batsman_id) REFERENCES public.team_players(id);


--
-- Name: ball_by_ball ball_by_ball_bowler_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_bowler_id_fkey FOREIGN KEY (bowler_id) REFERENCES public.team_players(id);


--
-- Name: ball_by_ball ball_by_ball_dismissed_batsman_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_dismissed_batsman_id_fkey FOREIGN KEY (dismissed_batsman_id) REFERENCES public.team_players(id);


--
-- Name: ball_by_ball ball_by_ball_fielder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_fielder_id_fkey FOREIGN KEY (fielder_id) REFERENCES public.team_players(id);


--
-- Name: ball_by_ball ball_by_ball_non_striker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.ball_by_ball
    ADD CONSTRAINT ball_by_ball_non_striker_id_fkey FOREIGN KEY (non_striker_id) REFERENCES public.team_players(id);


--
-- Name: competitions competitions_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.competitions(id) ON DELETE SET NULL;


--
-- Name: event_rsvp event_rsvp_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.event_rsvp
    ADD CONSTRAINT event_rsvp_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: event_rsvp event_rsvp_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.event_rsvp
    ADD CONSTRAINT event_rsvp_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE SET NULL;


--
-- Name: match_availability match_availability_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.match_availability
    ADD CONSTRAINT match_availability_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE CASCADE;


--
-- Name: payment_allocations payment_allocations_charge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_charge_id_fkey FOREIGN KEY (charge_id) REFERENCES public.player_charges(id) ON DELETE CASCADE;


--
-- Name: payment_allocations payment_allocations_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.player_payments(id) ON DELETE CASCADE;


--
-- Name: player_charges player_charges_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.player_charges
    ADD CONSTRAINT player_charges_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE CASCADE;


--
-- Name: player_payments player_payments_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.player_payments
    ADD CONSTRAINT player_payments_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sponsor_payments sponsor_payments_sponsor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.sponsor_payments
    ADD CONSTRAINT sponsor_payments_sponsor_id_fkey FOREIGN KEY (sponsor_id) REFERENCES public.sponsors(id) ON DELETE CASCADE;


--
-- Name: system_logs system_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: team_players team_players_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.team_players
    ADD CONSTRAINT team_players_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE SET NULL;


--
-- Name: teams teams_captain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_captain_id_fkey FOREIGN KEY (captain_id) REFERENCES public.users(id);


--
-- Name: tournament_matches tournament_matches_next_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_next_match_id_fkey FOREIGN KEY (next_match_id) REFERENCES public.tournament_matches(id);


--
-- Name: tournament_matches tournament_matches_team1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_team1_id_fkey FOREIGN KEY (team1_id) REFERENCES public.tournament_teams(id);


--
-- Name: tournament_matches tournament_matches_team2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_team2_id_fkey FOREIGN KEY (team2_id) REFERENCES public.tournament_teams(id);


--
-- Name: tournament_matches tournament_matches_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_matches tournament_matches_winner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_winner_id_fkey FOREIGN KEY (winner_id) REFERENCES public.tournament_teams(id);


--
-- Name: tournament_players tournament_players_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_players
    ADD CONSTRAINT tournament_players_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.team_players(id) ON DELETE SET NULL;


--
-- Name: tournament_players tournament_players_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_players
    ADD CONSTRAINT tournament_players_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_players tournament_players_tournament_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_players
    ADD CONSTRAINT tournament_players_tournament_team_id_fkey FOREIGN KEY (tournament_team_id) REFERENCES public.tournament_teams(id) ON DELETE CASCADE;


--
-- Name: tournament_teams tournament_teams_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE SET NULL;


--
-- Name: tournament_teams tournament_teams_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournaments tournaments_competition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_competition_id_fkey FOREIGN KEY (competition_id) REFERENCES public.competitions(id) ON DELETE SET NULL;


--
-- Name: tournaments tournaments_match_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_match_profile_id_fkey FOREIGN KEY (match_profile_id) REFERENCES public.match_profiles(id) ON DELETE SET NULL;


--
-- Name: tournaments tournaments_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id) ON DELETE SET NULL;


--
-- Name: tournaments tournaments_sub_competition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_sub_competition_id_fkey FOREIGN KEY (sub_competition_id) REFERENCES public.competitions(id) ON DELETE SET NULL;


--
-- Name: transactions transactions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.finance_categories(id);


--
-- Name: user_activity_logs user_activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_notifications user_notifications_notification_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_notification_id_fkey FOREIGN KEY (notification_id) REFERENCES public.notifications(id) ON DELETE CASCADE;


--
-- Name: user_notifications user_notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cricket_admin
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO cricket_admin;


--
-- PostgreSQL database dump complete
--

\unrestrict Co6DRqSqzbsroxjxPksRx3skZzOsHp6ci7pVdrWdokztzhYDXapOLA7Vev4Gpqx

